{% extends "base.html" %}
{% block title %}Notebooks{% endblock %}
{% block moreImport %}
    <script src="/static/js/note.js"></script>
{% endblock %}
{% block content %}
    <div id="notebookList" class="max-height">
        <ul>
            {% for item in notebooks %}
                <li><a href="javascript:;" class="lnkNoteBook">{{ item.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div id="noteList" class="max-height">


    </div>
    <div id="noteContent" class="max-height">


    </div>
{% endblock %}
